.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #100d28;
}        

.div_fundo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
    visibility: 10%;
    opacity: 0.8;
}

.div_menu {
    border: 3px solid;
    border-color: white;
    border-radius: 30px;
    height: 480px;
    background-color: #7ed957;
    width: 800px;
    position: relative;
    z-index: 2;
    margin-top: -200px;
}

.div_logo {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 90px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: -50px;
}    

#img_logo {
    width: 208px;
    margin-top: 10px;
    margin-left: -160px;
}

#txt_simulador {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin-left: 70px;
}

.div_questionario {
    margin-top: 30px; 
    margin-left: -30px;
}

.div_linha1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 30px;
    width: 750px;
    height: 80px;
}

.div_hectare {
    display: block;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: -20px;
    margin-right: 0;
}

#lbl_hectare {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 410;
}

#txt_hectare {
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    width: 200px;
    margin-top: -50px;
}

.div_custo {
    display: block;
    align-items: center;
    justify-content: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
}

#lbl_custo {
     margin-bottom: 0;
     margin-top: 0;
     font-weight: 410;
     font-size: 22px;
}

.div_cifrao {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 60px;
    margin-top: -2px;
}

#lbl_cifrao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 60px;
    height: 34px;
    border-radius: 7px;
    margin-top: 0px;
    border: 1px solid;
    font-size: 22px;
}

#txt_custo {
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    width: 137px;
    border-radius: 7px;
    margin-top: -22px;
}

.div_faturamento {
    display: block;
    align-items: center;
    justify-content: left;
    margin-bottom: 0;
    font-size: 22px;
}

#lbl_faturamento {
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 410;
}

.div_cifrao2 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0;
}

#lbl_cifrao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 60px;
    height: 34px;
    border-radius: 7px;
    margin-top: -4px;
    border: 1px solid;
    font-size: 22px;
}

#txt_faturamento {
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    width: 137px;
    border-radius: 7px;
    margin-top: -25px;
}

.div_linha2 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: -50px;
    width: 750px;
    height: 90px;
}

.div_fungicida {
    width: 350px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: -24px;
}

#lbl_fungicida {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 410;
    font-size: 22px;
} 

#lbl_mensal {
    font-size: 18px;
}

.div_cifrao3 {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: gray;
    width: 60px;
    height: 34px;
    border-radius: 7px;
    border: 1px solid;
    font-size: 22px; 
}

#lbl_cifrao3 {
    margin-left: 17px;
}

#txt_fungicida {
    margin-left: 18px;
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    width: 200px;
}

.div_estado {
    display: block;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    margin-top: -45px;
    margin-left: -50px;
    margin-right: 10px;
}

#lbl_estado {
    margin-bottom: 0;
    font-weight: 410;
}

#txt_estado {
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    width: 200px;
}

.div_chuva {
    display: block;
    align-items: center;
    justify-content: left;
    margin-top: -5px;
    margin-left: 10px;
}

#lbl_chuva {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 410;
}

#txt_chuva {
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    width: 200px;
}

#lbl_descchuva {
    margin-top: 0;
    margin-bottom: 0;
}

.div_linha3 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-top: -45px;
    width: 750px;
    height: 90px;
}

.div_historico {
    display: block;
    align-items: center;
    justify-content: left;
    margin-right: 100px;
}

#lbl_historico {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 410;
    font-size: 22px;
    width: 320px;
}

#txt_historico {
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    width: 300px;
}

#lbl_deschistorico {
    margin-top: 0;
    margin-bottom: 0;
}

.div_temperatura {
    display: block;
    align-items: center;
    justify-content: left;
    margin-left: -50px;
    width: 450px;
}

#lbl_temperatura {
    font-weight: 410;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 22px;
}

#txt_temperatura {
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    width: 255px;
    margin-bottom: 0;
}

#lbl_desctemp {
    margin-top: 0;
    margin-bottom: 0;
    width: 400px;
}

.div_calcular {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 700px;
    height: 80px;
    margin-left: 70px;
    margin-top: -50px;
}

.div_sacas {
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 110px;
}

#lbl_sacas{
    font-weight: 410;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 22px;
}

#txt_sacas {
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    width: 255px;
    margin-bottom: 0;
}

#btn_calcular {
    width: 260px;
    height: 60px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 410;
    background-color: #09680a;
    color: white;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    margin-top: 10px;
}

#img_ponto {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.div_resultado1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    width: 800px;
    height: 40px;
    margin-left: 27px;
    margin-top: 17px;
    border-radius: 15px;
    border-color: #7ed957;
    background-color: white;
    font-size: 20px;
}

#img_alerta {
    width: 20px;
    margin-left: 2px;
}

#lbl_resultado_risco {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lbl_alerta {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lbl_resultado_probabilidade {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lbl_alerta2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_resultado2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    width: 800px;
    height: 40px;
    margin-left: 27px;
    margin-top: -4px;
    border-radius: 15px;
    border-color: #7ed957;
    background-color: #09680a;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#lbl_ganhos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_ganhos {
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.div_resultado3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    width: 800px;
    height: 40px;
    margin-left: 27px;
    margin-top: -4px;
    border-radius: 15px;
    border-color: #7ed957;
    background-color: white;
    font-size: 20px;
}

#lbl_resultado_fungicida {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_seta_baixo {
    width: 20px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lbl_resultado_produtividade {
    display: flex;
    align-items: center;
    justify-content: center;

}

#img_mais {
    width: 14px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lbl_resultado_faturamento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_resultado4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    width: 800px;
    height: 40px;
    margin-left: 27px;
    margin-top: -4px;
    border-radius: 15px;
    border-color: #7ed957;
    background-color: white;
    font-size: 20px;
}

#lbl_resultado_ganhos_fungicida {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lbl_resultado_ganhos_produtividade {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lbl_resultado_ganhos_faturamento {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.div_resultado5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    width: 800px;
    height: 40px;
    margin-left: 27px;
    margin-top: -4px;
    border-radius: 15px;
    border-color: #7ed957;
    background-color: #09680a;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#lbl_lucro {
    display: flex;
    align-items: center;
    justify-content: center;
}