/* Importa a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Declaração de variáveis CSS para cores e gradientes */
:root {
    --color-light-50: #f8fafc; /* Cor clara (usada como fundo principal) */

    --color-dark-50: #797984; /* Cor escura média (texto) */
    --color-dark-100: #311d37; /* Cor escura (fundo do modo escuro) */
    --color-dark-900: #000;  /* Preto absoluto (usado em textos ou elementos) */

    --color-purple-50: #9e35e9; /* Tom roxo claro */
    --color-purple-100: #100d28; /* Tom roxo escuro */
    --color-purple-200: #0a0818; /* Tom roxo muito escuro */

    /* Gradiente criado a partir das cores roxas */
    --color-gradient: linear-gradient(90deg,var(--color-purple-50),var(--color-purple-100),var(--color-purple-200));
}

/* Estilização geral de todos os elementos */
* {
    font-family: 'Poppins',sans-serif; /* Define a fonte Poppins para todos os elementos */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    box-sizing: border-box; /* Faz com que a largura e altura incluam padding e bordas */
    overflow: hidden; /* Remove o scroll */
}

#container {
    height: 100vh;
    width: 100%;
    background-color: #264653;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro_form{
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.336);
    height: fit-content;
    animation: dark-to-light 0.3s ease-in-out;
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1{
    font-size: 40px;
    position: relative;
}

#form_header h1:before{
    position: absolute;
    content: "";
    width: 100%;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}


#mode_icon{
    cursor: pointer;
    font-size: 20px;
}


#social_media{
    display: flex;
    justify-content: space-around;
}


#social_media img {
    width: 170px;
    transition: 0.5s linear;
}

#social_media img:hover {
    transform: scale(1.2);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}

.input-field {
    font-size: 18px;
    color: var(--color-dark-900);
}

.input-field input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus:focus {
    outline: none;
}

#ir_login a {
    color: var(--color-dark-50);
    text-decoration: none;
    font-size: 12px;
}

#ir_login a:hover{
    color: var(--color-purple-50);
}

#cadastro_button{
    border: none;
    background-color: #16a34a;
    color: var(--color-light-50);
    padding: 7px 40px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s linear;
    width: 90%;
}


#cadastro_button:hover{
    transform: scale(1.05);
}


.dark#cadastro_form{
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}

.dark#cadastro_form .input-field input,
.dark#cadastro_form .input-field i{
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0%{
        background-color:var(--color-dark-100) ;
    }

    100%{
        background-color: var(--color-light-50);
    }
}


@keyframes light-to-dark {
    0%{
        background-color: var(--color-light-50);
    }

    100%{
        background-color:var(--color-dark-100) ;
    }
}